{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url({{ url_for ('static', filename='img/about-bg.jpg') }})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Обо мне</h1>
                    <span class="subheading">Чем я занимаюсь.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Привет, меня зовут Сергей! Я начинающий Python разработчик. В 2021 году я решил кардинально поменять
                    свою специализацию и стать программистом (до этого я работал в сфере логистики).
                    Мой выбор пал на Python, потому что он прост в обучении, лаконичный, имеет много библиотек и
                    большое сообщество программистов.</p>
                <p>Итак, первые строки кода, первые небольшие приложения и я понимаю, что программирование - это то, что
                    мне действительно нравится, то, что я могу делать хорошо. И сейчас я уже делаю первые приложения на
                    Flask (например, данный сайт).
                    И на данный момент цель номер один получить работу Python разработчика и через два года выйти на
                    уровень Middle.</p>
                <p>Кроме программирования я люблю ездить на велосипеде, заниматься фитнесом и путешествовать.
                    Это мой личный сайт-блог, на котором можно фиксировать свои мысли, события и другое.</p>
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}
